
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
.title{
  margin-top: 100px;
  font-size: 20px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: space-between; */
  gap: 16px;
}
.title .form-control{
  height: 60px;
  /* background-color: #008d4b; */
}
.title .form-control::placeholder {
  color: #000000;
  opacity: 1;
}
 .form-control::placeholder :placeholder-shown {
  border: 1px solid #ff0000;
}
.loader{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80px;
}
.row1  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* justify-content: space-between; */
  gap: 16px;
  margin-top: 50px !important;
  cursor: pointer !important;
}

.pokemon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon img {
  height: 200px;
}

.pokemon p {
  font-weight: bold;
  font-size: 1.5rem;
}
.btn{
  background-color: #233142!important;
  border: 1px solid #233142 !important;
  margin-bottom: 20px;
}
@media (max-width:1260px) {
  .pokemon img {
    width: 100%;
    height: unset;
  }


}

@media (max-width:800px) {
  .row1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .pokemon img {
    width: 100%;
    height: unset;
  }
}
@media (max-width:600px) {
  .row1 {
    display: grid;
    grid-template-columns: 1fr;
  }
} 
